/* Heebo Fonts */
@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/Heebo-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  src: url("./../fonts/Heebo/static/Heebo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Nunito Fonts */
@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("./../fonts/Nunito/static/Nunito-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Pacifico Font */
@font-face {
  font-family: "Pacifico";
  src: url("./../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color Variables */
:root {
  --primary-color: #78a3bf; /* Example Primary Color */
  --secondary-color: #6c757d; /* Example Secondary Color */
  --background-color: #171617; /* Example Background Color */
  --text-color: #eef0f1; /* Example Text Color */
  --heading-color: #343a40; /* Example Heading Color */
  --border-color: #dee2e6; /* Example Border Color */
  --text-color-white: #ffff;
  --text-color-black:  #212529;
}

/* Applying Fonts and Colors to Elements */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,h3 {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h4,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: var(--heading-color);
}

h2 {
  
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h5 {
  position: relative;
  display: inline;
  font-family: "Pacifico", cursive;
  color: var(--primary-color);
}

p,
a,
span {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-style: normal;

}

button,
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
}

.header,
.footer,
.navbar {
  background-color: var(--heading-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.card {
  border-color: var(--border-color);
}

.logo {
  font-family: "Pacifico", cursive;
  color: var(--primary-color);
}

/* Scrollbar Styles */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}



@keyframes loader-grow {
  to{
    transform: scale(1.2);
    background-color: var(--primary-color);
    opacity: 100%;
  }
}

@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}


/* Header Start */

header {
    top:0;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
   background-color: var(--background-color); 
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  z-index: 9;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

header.scrolled {
  background-color: var(--primary-color);
  transition: 0.3s all linear;
}

.logo h1 {
  font-size: 2.5rem;
  color: var(--text-color-white);
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: var(--text-color-white);
}

.logo a i {
  font-size: 40px;
}

.menus > ul {
    padding: 0px;
}

.menus > ul > li {
  position: relative;
}

.menus > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.17rem;
  background-color: white;
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menus > ul > li:hover::after {
  transform: scaleX(1);
}

.menus > ul > li > a {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--text-color-white);
}

.icons > a > i {
  font-size: 18px;
  color: var(--text-color-white);
}

/* Search bar */

.search-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 9;
  justify-content: center;
  align-items: center;
  top: -100%;
  transition: top 0.5s ease-in-out;
}

.search-bar.show {
  top: 0;
}

.close-btn{
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  color: white;
}

.close-btn i {
  font-size: 40px;
}

.search-bar-wrapper {
  display: flex;
  height: 60px;
  width: 80%;
  /* border: #e5612f 1px solid; */
  border-radius: 30px;
}

.search-bar input {
  width: 90%;
  padding: 0px 20px;
  height: 60px;
  outline: none;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.search-bar a {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 26px;
}

.search-bar .search-button {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* Search bar */

/* shopping cart start */

.shopping-cart {
  position: fixed;
  width: 450px;
  height: 100vh;
  right: -100vw;
  background-color: white;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  z-index: 9;
  transition: right 0.5s ease-in-out;
}

.shopping-cart-header {
  padding: 16px 18px;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.10);
}

.shopping-cart-header h2 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-size: 24px;
}
.shopping-cart-header i {
  cursor: pointer;
  font-size: 34px;
}

.shopping-cart-counter {
  display: flex;
}

.shopping-cart-item {
  padding: 20px 10px;
  border-bottom: 1px solid var(--primary-color);
}

.shopping-cart-item img {
  height: 50px;
  width: 50px;
  border-radius: 40px;
}

.shopping-cart-item h3 {
  font-size: 14px;
}

.shopping-cart-item .item-price p, .shopping-cart-footer .footet-total-price{
  font-family: "Pacifico", cursive;
  font-size: 18px;
  color: var(--primary-color);
}

.shopping-cart-counter i {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.shopping-cart-counter span {
  padding: 0px 10px;
}

.shopping-cart-footer {
  background-color: var(--text-color-white);
  position: absolute;
  width: 100%;
  bottom: 0px;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  z-index: 11;
}

.shopping-cart-footer h2 {
  font-size: 20px;
}

.shopping-cart-body {
  height: 65vh;
  overflow-y:auto;
  overflow-x: hidden;
}

.shopping-cart-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.shopping-cart-body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.shopping-cart-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

.footer-checkout, .footer-shopping {
  background-color: var(--primary-color);
  width: 200px;
  text-align: center;
  margin: 10px 0px;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

.footer-shopping {
  background-color: transparent;
}

.footer-checkout > .anim-layer, .footer-shopping > .anim-layer{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.3s ease, right 0.3s ease;
}

.footer-shopping > .anim-layer {
  background-color: var(--primary-color);
}

.footer-checkout:hover > .anim-layer, .footer-shopping:hover > .anim-layer {
  width: 100%;
  left: 0;
  right: auto;
}

.footer-checkout:hover a, .footer-shopping:hover a {
  color: #141214;
}

.footer-shopping:hover a {
  color: var(--text-color-white);
}

.footer-checkout a, .footer-shopping a {
  display: block;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 24px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.footer-shopping a {
  color: black;
}

@media (max-width: 990px) {
  .shopping-cart-item h3, .shopping-cart-footer p {
    font-size: 12px;
  }

  .footer-checkout a, .footer-shopping a {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .shopping-cart {
    width: 100%;
    height: 92vh;
  }
}

/* shopping cart end */

/* Header End */

/* Mobile Header Start */
#hamburger {
  cursor: pointer;
}

#hamburger-cross {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

#hamburger-cross i {
  cursor: pointer;
  transform: rotate(45deg);
}

.menus > ul > li::after {
  background-color: var(--primary-color);
}
#mobile-menu {
  transition: 0.6s all ease-in-out;
  transform: translateX(-100%);
}

.mobile-nav-logo > .logo > a > h1,
.mobile-nav-logo > .logo > a > i {
  font-size: 24px;
}

/* Mobile Header End*/

/* Banner Start */
.banner {
  background-color: #36454F; /
  /* opacity: 0.8; */
  width: 100%;
  aspect-ratio: 1920 / 740;
  background-repeat: no-repeat;
  background-size: cover;

  /* overflow: hidden; */
}

.banner .banner-content {
}

.banner-content h1 {
  font-weight: 800;
  line-height: 1.2;
  color: var(--text-color-white);
}

.banner-content p {
  /* font-size: ; */
  color: var(--text-color-white);
}

.banner .banner-content,
.banner .banner-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: auto;
}

.banner .banner-img {
  overflow: hidden;
}

.banner img {
  width: 550px;
  /* height: 550px; */
  object-fit: contain;
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}


/* our services start */

.icon-box {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  border: 1px dashed #7b7b7b;
  margin-bottom: 20px;
  background-position: center;
  transition-duration: 0.5s;
}

.icon-box > .number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  padding: 4px 12px;
  background-color: #fff;
  color: #3f3e44;
}

.icon-box:hover > .number {
  border: 2px solid var(--text-color-white);
  background-color: var(--primary-color);
  color: var(--text-color-white);
}

.icon-box:hover {
  background-color: var(--primary-color);
}

.icon-box:hover i {
  color: var(--text-color-white);
}

.icon-box > i {
  color: var(--primary-color);
}

.our-services h4 {
  font-family: "Pacifico", cursive;
  font-weight: 300;
}


/* start footer */

footer {
  /* overflow-x: hidden; */
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #040609;
  background-image: url("./../images/dark_hex.png");
}

footer .social-icons a {
  background-color: #191c1e;
  border-radius: 50%;
  text-align: center;
  padding: 10px 14px;
  transition: all 0.3s ease-in-out;
}

footer .social-icons a:hover {
  background-color: var(--primary-color);
}

footer .footer-content .content-desc {
  border-bottom: 1px solid #3a3a3a;
}

footer p {
  font-size: 14px;
  color: #bcbac1;
}

/* Contact Us Page Start */

.page-banner {
  background-image: url("./../images/pagetitle-contact.jpg");
  position: relative;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.page-banner .banner-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-banner .banner-content h2 {
  font-family: "Pacifico", cursive;
  position: relative;
  font-weight: 400;
  word-spacing: 16px;
  z-index: 1;
}

.page-banner .banner-content p {
  position: relative;
  z-index: 1;
}

.page-banner .banner-content .divider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-banner .banner-content .dot::after,
.page-banner .banner-content .dot::before {
  content: "";
  position: absolute;
  height: 1px;
  top: 4px;
  background-color: #fff;
  width: 100px;
}

.page-banner .banner-content .dot::after {
  left: 18px;
}

.page-banner .banner-content .dot::before {
  right: 18px;
}

.page-banner .banner-content .dot {
  position: relative;
  width: 11px;
  height: 11px;
  border: 1px solid white;
  border-radius: 50%;
}


.form h2::before,
.contact-info h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  bottom: -20px;
  background-color: var(--primary-color);
}

.form h2::after,
.contact-info h2::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  bottom: -22.4px;
  border-radius: 50%;
  left: 100px;
}

@media screen and (max-width: 768px) {
  .page-banner {
    height: 300px;
    padding-top: 60px;
  }

  .contact-page .contact-us form {
    padding: 40px 20px;
  }
}



.menu-page .page-banner{
  background-image: url('./../images/pagetitle-menu.jpg');
}

/* chef choice start */

.chef-choise {
  background-image: url('./../images/bg1_0.jpg');
  background-repeat: no-repeat;
  background-position: contain;
}

.chef-choise .chef-choise-icons {
  color: var(--text-color-white);
  font-size: 24px;
  display: flex;
}

.chef-choise .chef-choise-icons i {
  border: 1px solid var(--text-color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chef-choise .item-wrapper {
  opacity: 0.5; /* Inactive state */
  transition: opacity 0.3s ease;
}

.chef-choise .item-wrapper.slick-current {
  opacity: 1; /* Active state */
}

.author-name {
  color: var(--text-color-white);
}

.author-name:hover {
  color: var(--primary-color);
}

.banner-img {
    width: 60%;        /* full width */
    margin: 0 auto;   /* centers the image */
    display: block; 
    height: 270px;      /* adjust banner height */
    object-fit: cover;  /* crop image instead of stretching */
}

/* Hide real text on hover */
.order-btn:hover {
  color: transparent;       /* hide text */
}

/* Show alternate text */
.order-btn:hover::after {
  content: "Coming Soon!";   /* new text */
  position: absolute;

  /*top: 0;*/
  color: white;           /* keeps same color as normal */
  left: 50%;       /* horizontally center */
  transform: translate(-50%); /* adjust to true center */
  white-space: nowrap;
}
